.name-box {
  position: relative;
  margin: 0;
  padding: 0;
  top: 480px;
  left: 60px;
  font-size: 36px;
  // -webkit-text-stroke: 0.33px #ffffff;
  // -webkit-text-stroke: 1px;
  // -webkit-text-stroke-color: black;
  letter-spacing: 2px;
  // transition: 0.3s;
  text-align: left;
  max-width: 300px;
  opacity: 0;
}

.name-age {
  font-size: 22px;
}

.box-photo {
  background-size: contain;
  height: 540px;
  width: 360px;
  border-radius: 2px;

  margin: 40px;
  filter: grayscale(1);
  transition: 0.3s;
}
.box-photo:hover {
  filter: grayscale(0);
  .name-box {
    top: 390px;
    line-height: 50px;
    transition: 0.3s;
    opacity: 1;
    // text-shadow: 3px #000000;
    text-shadow: 1px 1px 2px rgb(8, 8, 8), 0 0 1em rgb(0, 0, 0),
      0 0 0.2em rgb(0, 0, 0);
  }
}

.img-name-holder {
  display: flex;
  flex-wrap: wrap;
  display: inline;
}

.container-actor {
  width: 100px;
}
