.main-container {
  position: relative;
  margin: 0 auto 0 auto;
  max-width: 1000px;
}
.first-container {
  display: flex;
  margin-bottom: 50px;
}

.main-photo {
  position: relative;
  display: flex;
  margin: 40px 170px 40px 100px;
  height: 537px;
}

.stats-andName {
  position: relative;
  margin: 40px 0 0 0;
  text-align: left;
  font-size: 22px;
  letter-spacing: 2px;
}

.actor-name {
  margin-bottom: 50px;
  font-size: 50px;
  width: 500px;
}

.stats-params {
  margin-bottom: 50px;
}
.player {
  margin: 0 0 0 100px;
}

.info-div {
  position: relative;
}

.drop-btn {
  font-family: "Alumni Sans Pinstripe", sans-serif;
  // background: rgb(0, 255, 26);
  // border: 1px solid white;
  font-size: 45px;
  font-weight: bold;
  letter-spacing: 1px;
  // width: 100%;
  // position: relative;
  // left: 95px;
  border-radius: 14px;
  padding: 2px 1px 2px 8px;
  box-sizing: border-box;
  margin-bottom: 5px;
  transition: 0.3s;
}

.drop-btn:hover {
  transition: 0.3s;
  color: rgb(250, 250, 250);
}
.arrow {
  position: relative;
  top: 4px;
}
.stats-item {
  word-spacing: 2px;
}
.drop-contet {
  vertical-align: middle;
  position: relative;
  text-align: left;
  line-height: 30px;
  // left: 100px;
  font-size: 25px;
  letter-spacing: 2px;

  &.hide {
    opacity: 0;
    max-height: 0px;
    transition: 0.5s;
  }

  &.show {
    opacity: 1;
    max-height: 1000px;
    transition: 0.5s;
  }
}
.drop-margin {
  // text-align: left;
  margin-bottom: 30px;
}
.drop-end {
  margin-bottom: 50px;
}

.main-img-container {
  max-width: 1500px;
  margin: 0 auto 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.more-img {
  margin: 10px;
  height: 320px;
  border-radius: 2px;
}

.download-btn {
  font-family: "Alumni Sans Pinstripe", sans-serif;
  // display: flex;
  margin-left: 790px;
  // text-align: right;
  // justify-content: right;
  padding: 10px;
  font-size: 35px;
  font-weight: 1000;
  letter-spacing: 1px;
  // color: bisque;
  transition: 0.3s;
}

.download-btn:hover {
  transition: 0.3s;
  color: white;
}
